.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
article.comment-body {
  background-color: #fffee9;
  text-align: left;
}
article[contenteditable=true].comment-body {
  text-align: left;
  border:1px solid blue;
  padding:1rem;
  margin:1rem;
  max-height: 5rem;
  overflow: auto;
}

.comment {
  border:2px solid rgb(177, 177, 177);
  margin:0.5rem;
  padding:0.5rem;
}
.comment-actions {
  float: right;
}
.comment-author,
.comment-info {
  text-align: left;
}
article[contenteditable=true]:hover {
  background-color: aqua;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
