 html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
  }


  img.avatar {
    float: left;
    width: 40px;
    margin-left: 1em;
    margin-right: 1em;
}

.user-list {
  list-style-type: none;
  padding-left: 1.3em;
  padding-right: 1.3em;
  float: left;
}

.user-item:hover {
  background-color: antiquewhite;
}

.user-item {

float: left;

width: 96%;

margin-bottom: 1.8em;

padding: 1em;

border: 1px solid #eee;

margin-left: 0px;
}

.user-item .avatar {

float: left;
}

.user-item .user-info {
  
float: left;
  
margin-left: 1em;
}
.user-item .user-info  ul{
    list-style-type: none;
}

.user-item .avatar img {
  width : 128px;
  height: 128px;;
}

.user-info .title {
  font-size: 1.4em;
  border-bottom: 1px solid dodgerblue;
  margin-bottom: 0.4em;
  padding-bottom:  0em;
}

.field-name::after {
  content : ":"
}
