.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app header,
.app footer {
  background-color: tan;
}

.body {
  display: flex;
  flex: 1;
}
.body > nav,
.body > main {
  padding :0.2em;
}
.source-list {
  /* 12em is the width of the columns */
  flex: 1;
  background-color: cornflowerblue;
  min-width: 10em;
  max-width: 15em;
}
.source-list .selected {
  background-color: #03A9F4;
}
.source-item {
  cursor: pointer;
}
.source-item:hover {
  background-color: #5cc8fa;
}
.result-list {
  flex: 1.5;
  background-color: darksalmon;
  min-width: 10em;
  max-width: 20em;
}
.result-list .selected {
  background-color: yellow;
}
.rss-item {
  cursor: pointer;
  
}
.rss-item:hover {
  background-color: rgb(255, 255, 164);

}
.result-detail {
  flex: 3;
  background-color: wheat;
}

