.top-navbar {
  margin-bottom: 1em;
}

.footer {
  margin-top: 1em;  
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

#install {
    float:right;
}
#install:disabled {
    display: none;
}
#nothing {
    cursor: pointer;
    font-size: 1.4em;
    text-align: center;
}

#logger {
    margin-top:2em;
    border: 1px solid #e8e4e4;
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.8em;    
    height: 100px;
    overflow: overlay
}

#random-image > img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

img#failure-image {
  display: none;
}
.load-image-fails > img#main-image {
  display: none;
}
.load-image-fails > img#failure-image {
  display: block;
}


/* 
 * spinner from https://loading.io/css/ 
 */
.lds-ring {
    display: inline-block;
    position: relative;
    top: -9px;
    width: 33px;
    height: 15px;    
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 6px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
