.table-container{
    overflow-y: visible;
}
/* General table styles */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    /* border-top:1px solid red; */
    border-width: 6px;
}

table:not(.sticky) {
    /* margin-top: 40px; */
}

thead {
    background-color: #545454;
}

th {
    padding: 1rem 0;
    color: rgb(14, 14, 14);
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    padding-left:1rem;
}

th:last-child {
    width: 100px;
}

tbody tr:nth-last-of-type(odd) {
    background-color: #f3f3f3;
}

td {
    font-size: 18px;
    text-align: left;
    padding-left:1rem;
}

